<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/insert" method="post">
    <input type="text" name="txt_name" placeholder="텍스트파일명">
    <input type="text" name="img_name" placeholder="이미지파일명">
    <input type="text" name="stopwords" placeholder="불용어">
    <input type="text" name="stopwords" placeholder="불용어">
    <input type="text" name="msk_name" placeholder="마스크파일명">
    <input type="submit" value="등록">
  </form>
    <hr>
    <img src='static/ball1.jpg' width="100" height="100">
</body>
</html>